<html>
<%= calendar_date_select_includes -%>
<style type="text/css">
table, td, th
td
{
vertical-align:middle;
text-align:left;
}
</style>

<table width="1024" border="0">
  <tr>
    <td width="900" height="450" bgcolor="#d8d770">
	<table width="900" height="450" border="0" align="center" bordercolor="#ABBCD8">
	  <tr>
		<td width="900" height="450" align="center" valign="top" bgcolor="#FFFFFF"><table width="900" height="169" border="0">
          <tr>
            <th scope="col"><p><%= image_tag "wolfheader4.jpg", :width => "900", :height => "169" %></p>
              </th>
			  </td></td></td>
          </tr>
        </table></table>
          
<table width="904" height="100" align="left" cellspacing="2" cellpadding = "2">
		<tr><th>Name</th><th>Value</th><th>Description</th></tr>
	<div align="center">          
	<% if ENV['RAILS_SITE'] == 'TRACKER' %>
		<h3 style=background-color:yellow><%= link_to 'DEMO Home', menu_path %></h3>
	<%else%>
		<h3><%= link_to 'Home', menu_path %></h3>
	<%end%>	

<h2><b><font color=red>EDIT</font></b> Wolf Sample <%=@sample.id %> for <%= current_user.to_s %></h2>

<% form_for(@sample, :html => {:multipart => true}) do |f| %> 
	<%= f.error_messages %>
	<tr><td width="25%"><%= f.label :submitted_by %></td><td width = "35%" ><%= f.text_field :submitted_by %></td><td width = "40%" >Your Name</td></tr>
	<tr><td><%= f.label :field_code %></td><td><%= f.text_field :field_code %></td><td>How you've labeled the sample</td></tr>
	<tr><td><%= f.label :sample_bc, 'Sample Barcode' %></td><td><%= f.text_field :sample_bc %></td><td>Sample Barcode if available</td></tr>
	<tr><td><%= f.label :shipping_date %></td><td><%= f.calendar_date_select :shipping_date %></td><td>The date sample was shipped</td></tr>
	<tr><td><%= f.label :date_submitted %></td><td><%= f.text_field :date_submitted,:value => f.object.date_submitted.strftime('%Y-%m-%d') unless f.object.date_submitted.nil? %></td><td>Default is today's date</td></tr>
	<tr><td><%= f.label :collected_on_day %></td><td><%= f.collection_select(:collected_on_day , Sample::DD, :to_s, :to_s, {:include_blank => true, :prompt => true } , {"style" => "width:100px" } ) %></td><td>Choose Day from drop down list 1-31 or blank</td></tr>
	<tr><td><%= f.label :collected_on_month %></td><td><%= f.collection_select(:collected_on_month , Sample::MM, :to_s, :to_s, {:include_blank => true,  :prompt => true},{"style" => "width:100px" } ) %></td><td>Choose Month from drop down list 1-12 or blank</td></tr>
	<tr><td><%= f.label :collected_on_year %></td><td><%= f.collection_select(:collected_on_year , Sample::YY, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Year from drop down list</td></tr>
	<tr><td><%= f.label :country %></td><td><%= f.country_select(:country, priority_countries = ['CA','US'], options={},{"style" => "width:150px" } ) %></td><td>Choose Country from drop down list</td></tr>
	<tr><td><%= f.label :province %></td><td><%= f.text_field :province %></td><td>Enter Province</td></tr> 
	<tr><td><%= f.label :locality %></td><td><%= f.text_field :locality %></td><td>Name of the nearest town, park, etc.</td></tr>
	<tr><td><%= f.label :latitude %></td><td><%= f.text_field :locality %></td><td>Coordinates in Decimal degrees NAD83</td></tr>
	<tr><td><%= f.label :longitude %></td><td><%= f.text_field :locality %></td><td>Example: Lat: 44.356, Long -78.275</td></tr>
	<tr><td><%= f.label :location_accuracy %></td><td><%= f.collection_select(:location_accuracy , Sample::ACC, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:150px" } ) %></td><td>Choose Location Accuracy from drop down list</td></tr>
	<tr><td><%= f.label :location_measurement_method %></td><td><%= f.collection_select(:location_measurement_method , Sample::LMM, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Location Measurement Method drop down list</td></tr>
	<tr><td><%= f.label :text_tissue_type,'Tissue Type' %></td><td><%= f.collection_select( :text_tissue_type , Sample::TT, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Tissue type from drop down list</td></tr>
	<tr><td><%= f.label :scat_condition %></td><td><%= f.collection_select( :condition , Sample::SCAT, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:300px" } ) %></td><td>Choose Scat Condition if applicable</td></tr>
	<tr><td><%= f.label :scat_age %></td><td><%= f.collection_select( :age , Sample::AGE, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Scat age if applicable</td></tr>
	<tr><td><%= f.label :scat_rehydrated %></td><td><%= f.collection_select( :rehydrated , Sample::YN, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Scat rehydration if applicable</td></tr>
	<tr><td><%= f.label :scat_diet_analysis %></td><td><%= f.collection_select( :diet_analysis , Sample::YN, :to_s, :to_s, { :include_blank => true,  :prompt => true },{"style" => "width:100px" } ) %></td><td>Choose Scat diet type if applicable</td></tr>
	<tr><td><%= f.label :export_permit %></td><td><%= f.text_field :export_permit %></td><td>Export Permit</td></tr> 
	<tr><td><%= f.label :storage_medium_id, 'Storage Medium'%></td><td><%= f.collection_select( :storage_medium_id, StorageMedium.find(:all), :id, :storage_medium,{ :include_blank => true,  :prompt => true }, {"style" => "width:200px" }) %></td><td>How is the sample being stored</td></tr>
	<tr><td><%= f.label :shippingmaterial_id, 'Shipping Medium'%></td><td><%= f.collection_select( :shippingmaterial_id, Shippingmaterial.find(:all), :id, :medium_short_desc,{ :include_blank => true,  :prompt => true }, {"style" => "width:200px" }) %></td><td>How is the sample packaged for shipping?</td></tr>
	<tr><td><%= f.label :current_location, 'Tracking # (location)' %></td><td><%= f.text_field :current_location %></td><td>Courier tracker # if available</td></tr>
	<tr><td><%= f.label :comments, 'Sample Comments' %></td><td><%= f.text_field :comments %></td><td>Any other comments relevant to this sample</td></tr>

	<tr><td><%='File Name: ' + File.basename(@sample.sample_image1.to_s) %></td>
	<td><% if !@sample.sample_image1.nil? # in the case of edit %>
		<%= image_tag url_for_file_column('sample', 'sample_image1'), :align=>'center', :width => '160' %>
	<%else%>
		<%= file_column_field "sample", "sample_image1" %>
	<% end %>
	</td></tr>

	<% @sample.diet_analysis = params[:diet_analysis] %>
	<% @sample.rehydrated  = params[:rehydrated ] %>
	<% @sample.text_tissue_type = params[:text_tissue_type] %>
	<% @sample.collected_on_day = params[:collected_on_day] %>
	<% @sample.collected_on_month = params[:collected_on_month] %>
	<% @sample.collected_on_year = params[:collected_on_year] %>
	<% @sample.project_id = @prid%>
    <% @sample.import_permit = "CA027" %>
	<tr><td><%= f.submit "Update" %></td></tr> 
<% end %>

</tr>
</div>
</table>
  </tr>
</table>

